*{
    margin: 0;
    padding: 0;
}

#main{
    width: 100%;
    min-height: 100vh;
    background-image:url(./images/bg-pattern-bottom.svg), url(./images/bg-pattern-bottom.svg);
    background-position: -35% 135% ;
    background-repeat: repeat-y, repeat-x;
    background-size:50%;
    background-color:  hsl(185, 75%, 39%);
    
}